.chat-container {
    background-color: black;
    display: flex;
    position:relative;
    
    .chat-wrapper {
        background-color: #27292A;
        width: 100%;
        padding: 50px;
    }
}