@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.join {
    background-color: #2e2e2e;
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 20%;

    .form-title {
        span {
            border-bottom: 1px solid white;
            cursor: pointer;
        }
    }

    .error {
        color: #FFCCCC;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            border: none;
            outline: none;
            color: black;
            background-color: #c9c9c9;
            padding: 5px;
            border-radius: 30px;
            padding-left: 5%;
            font-family: "Montserrat", sans-serif;
        }

        input::placeholder {
            color: black;
            font-family: "Montserrat", sans-serif;
        }


    }

    h2,
    p {
        margin: 0;
    }

    button {
        background-color: #c9c9c9;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: black;
        cursor: pointer;
        transition: all 500ms ease-in-out;
        width: fit-content;
    }

    button:hover {
        transform: translateY(-10px);
    }
}